@model WebStore.UI.Models.Cart.CartViewModel

@{
    var total = Model == null ? 0 : Model.Items.Sum(x => x.Quantity);
}

<li><a href=#><span class="glyphicon glyphicon-log-out"></span>@total</a></li>
@*<span style="color: white">
    @total
</span>*@
