@model WebStore.UI.Models.Cart.CartViewModel

@{
    var total = Model.Items == null ? 0 : Model.Items.Sum(x => x.Quantity);
}

<li><a href=@Url.Action("UserCart", "Cart")><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;@total</a></li>

