@model WebStore.BusinessLogic.DTO.Category.CategoryForDropDownList
@{
    ViewBag.Title = "Index";
    var list = ((IEnumerable<SelectListItem>)ViewBag.Categories).ToList();
    list.Add(new SelectListItem { Selected = true, Text = "Выберите Категорию", Value = "-1" });
    var ajaxOpt = new AjaxOptions{HttpMethod = "post", UpdateTargetId = "results", OnComplete = "onAjax"};
}

<h2>Добро пожаловать</h2>
<div id="error"></div>
@using (Ajax.BeginForm("UpdateList", "Main", ajaxOpt, new { @class = "form-inline" }))
{
    <div class="form-group">
        <label class="sr-only" for="category">Email</label>
        @Html.DropDownListFor(x => x.Id, list, new { @class = "form-control", id = "category" })
        @Html.ValidationMessageFor(x => x.Id)
    </div>
    <button type="submit" class="btn btn-primary">Применить</button>

    @section Scripts {
        <script type="text/javascript">
            function onAjax(response) {
                if (response.result == 'Redirect') {
                    //window.location = response.url;
                    $('#error').empty().html('<p class="text-danger">Необходимо выбрать категорию товара</p>');
                }
            }
        </script>
    }
}
<br>
<div id="results"></div>
