@model WebStore.UI.Models.Login.UserViewModel

@if (Model == null || Model.IsAuthenticaticated)
{
    <ul class="nav navbar-nav">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> @Model.Login</a></li>
        <li><a href=@Url.Action("Logout", "Login")><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li><a href=@Url.Action("Login", "Login")><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
    </ul>
}
